body{
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 0;
    display: block;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #333;
    color: #FFF;
}

.nav > li{
    list-style: none;
    height: 100%;
    width: 10%;
}

.nav > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 130%;
}

@media (max-width: 768px) {
    .navbar {
        display: block;
        width: 100%;
        height: auto;
    }
    .nav > li {
        display: block;

    }
    .nav-btn:before{
        content: 'Menu';
    }
    .nav-btn{
        background-color: #333;
        font-size: 130%;
        color: #FFF;
        cursor: pointer;
        display: block;
    }
}
